@charset "UTF-8";

@use 'mixin' as m;

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FAF6F0;
    color: #333333;
}

a {
    text-decoration: none;
    color: #FAF6F0;
}

img {
    vertical-align: bottom;
}

li {
    list-style: none;
}

.online_store {
    display: flex;
    justify-content: space-around;
}

.btn {
    width: 88px;
    height: 88px;
    background: #BA4A00;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: #BA4A00;
        transition: all 0.3s ease;
    }

    &::before {
        height: 0%;
        width: 2px;
    }

    &::after {
        width: 0%;
        height: 2px;
    }

    &:hover {
        background: #FAF6F0;
    }

    &:hover::before {
        height: 100%;
    }

    &:hover::after {
        width: 100%;
    }

    span {

        &::before,
        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: #BA4A00;
            transition: all 0.3s ease;
        }

        &::before {
            width: 2px;
            height: 0%;
        }

        &::after {
            width: 0%;
            height: 2px;
        }

        &:hover::before {
            height: 100%;
        }

        &:hover::after {
            width: 100%;
        }

    }

    &:hover {
        .btn_name {
            color: #BA4A00;
        }

        .border {
            border: 1px solid #BA4A00;
        }

    }

}

.border {
    width: 74px;
    height: 74px;
    border: 1px solid #FAF6F0;
    display: table;
    z-index: 5;
    transition: 0.3s;

    .btn_name {
        font-size: 16px;
        width: 100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
}

.en {
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 3%;

    @include m.tab {
        max-width: 608px;
    }
}

.section_title {
    font-size: 40px;
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    line-height: 3em;
    position: relative;

}

/* fadein */
.fadein {
    transition: 0.5s;
    transform: translateY(20%);
    opacity: 0;

    &.show {
        transform: translateY(0);
        opacity: 1;
    }
}


/* header */
header {
    position: relative;

    .top_line {
        width: 100%;
        height: 100px;
        background-color: #f7d5c59b;
        position: fixed;
        top: 0;
        z-index: 3;

    }

    .top_logo {
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;

        img {
            height: 100%;
        }
    }
}

.toggle_btn {
    width: 100px;
    height: 100px;
    color: #FAF6F0;
    background-color: #BA4A00;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;

    &::before,
    &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: #BA4A00;
        transition: all 0.3s ease;
    }

    &::before {
        height: 0%;
        width: 2px;
    }

    &::after {
        width: 0%;
        height: 2px;
    }

    &:hover {
        background: #FAF6F0;
    }

    &:hover::before {
        height: 100%;
    }

    &:hover::after {
        width: 100%;
    }

    span {

        &::before,
        &::after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: #BA4A00;
            transition: all 0.3s ease;
        }

        &::before {
            width: 2px;
            height: 0%;
        }

        &::after {
            width: 0%;
            height: 2px;
        }

        &:hover::before {
            height: 100%;
        }

        &:hover::after {
            width: 100%;
        }

    }

    &:hover {
        color: #BA4A00;

        .border {
            border: 1px solid #BA4A00;
        }
    }

    .border {
        width: 84px;
        height: 84px;
        border: 1px solid #FAF6F0;
        display: table;
        transition: 0.3s;

        .btn_name {
            font-family: "Kaisei Opti", serif;
            font-weight: 400;
            font-style: normal;

            font-size: 16px;
            width: 100%;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            transition: 0.3s;
        }
    }
}

.menu {
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F9E9DC;
    z-index: 7;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;

    @include m.tab {
        width: 100%;
    }

    .list {
        margin-top: 120px;
        padding-bottom: 32px;

        a {
            color: #333333;
            font-weight: 400;
            font-style: normal;
            font-family: "Kaisei Opti", serif;
        }

        li {
            padding-bottom: 16px;
        }
    }

    .header_line {
        padding-bottom: 1px;
        /* テキストと下線の間隔 */
        background-image: linear-gradient(#333333, #333333);
        background-repeat: no-repeat;
        background-position: bottom right;
        /* 下線の初期位置 */
        background-size: 0 1px;
        /* 下線のサイズ（横幅、高さ） */
        transition: background-size 0.3s;

        &:hover {
            background-position: bottom left;
            /* 下線のホバー時位置 */
            background-size: 100% 1px;
            /* 下線の横幅を100%にする */
        }
    }

    .online_store {
        padding-bottom: 32px;
        width: 80%;
        margin: auto;
    }

    .insta {
        width: 50px;
        padding-bottom: 32px;
        margin: auto;
    }

    img {
        width: 100%;
        vertical-align: bottom;
    }

    .logo {
        width: 195px;
        margin: auto;
    }
}

#mask {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/backleaf.jpg");
    background-color: rgba($color: #F9E9DC, $alpha: 0.7);
    background-blend-mode: lighten;
    z-index: 6;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

/* openの時 */
.open {
    .toggle_btn {
        transform: rotate(180deg);

        .border {
            .btn_name {
                transform: rotate(180deg);
            }
        }

        .en {
            font-family: "Kaisei Opti", serif;
            font-weight: 400;
            font-style: normal;
        }
    }

    .menu {
        visibility: visible;
        opacity: 1;
    }

    #mask {
        visibility: visible;
        opacity: 1;
    }
}


/* Top */
#top_video {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.211);
        z-index: 1;
    }

    #bg_video {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;

    }

    h1 {
        font-size: 64px;
        color: #FAF6F0;
        text-shadow: 3px 3px 15px #FAF6F0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        z-index: 2;

        @include m.tab {}
    }

}

/* About */
.about {
    padding-block: 80px;
    background-image: url(../img/backhana.png);
    background-size: 50%;
    background-position: 5% 50%;

    @include m.tab {
        background-position: 45% 12%;
    }



    .about_flex {
        display: flex;
        justify-content: space-between;

        @include m.tab {
            flex-direction: column;
            align-items: center;
        }
    }

    .about_left {
        width: 55%;

        @include m.tab {
            width: 100%;
        }
    }

    .about_img {
        width: 45%;

        @include m.tab {
            width: 100%;
            padding-block: 32px;
        }
    }

    h2 {
        font-size: 32px;
        padding-bottom: 40px;
    }

    p {
        font-size: 24px;
        padding-bottom: 48px;
    }

    .btn {
        margin-left: 20%;

        @include m.tab {
            margin: 0 auto;
        }
    }

    img {
        width: 100%;
    }
}

/* Pick Up Item */

.pick_up {
    background-color: #F9E9DC;
    background: linear-gradient(0deg, #F7D5C5, #faf6f0);
    text-align: center;

    .section_title {
        &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background: #3D7D60;
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            top: 50%;
            left: -22%;
        }

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background: #3D7D60;
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            top: 50%;
            right: -22%;
        }

    }


    .items {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include m.tab {
            justify-content: center;
        }

    }

    article {
        width: 40%;
        margin-bottom: 80px;
        &:last-of-type {
            margin-bottom: 0;
        }
        &:nth-child(even) {
            margin-top: 80px;
        }

        @include m.tab {
            width: 95%;
        &:nth-child(even) {
            margin-top: 0px;
        }
        }

        img {
            width: 100%;
            height: auto;
            box-shadow: 10px 10px 20px #33333389;
            transition: 0.5s;
    
            /* ホバー時のアニメーション */
            &:hover {
                box-shadow: unset;
                transform: translate(5px, 5px);
            }
        }
    }

    p {
        padding-bottom: 32px;
        text-align: left;
        margin-left: 13%;

        @include m.tab {
            margin-left: 0;
            text-align: center;
            margin-top: 40px;
        }
    }

    .online_store {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 40px;

        @include m.tab {
            justify-content: center;
        }

        .btn {
            margin-inline: 2%;
        }
    }
}


/* Company */
.company {
    background: linear-gradient(0deg, #E5896A, #F7D5C5);
    padding-top: 48px;

    .section_title {
        &::before {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background: #3D7D60;
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            top: 50%;
            left: -24%;
        }

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            background: #3D7D60;
            transform: translateY(-50%) rotate(45deg);
            position: absolute;
            top: 50%;
            right: -24%;
        }
    }

    .inner {
        background-color: #FAF6F0;
        padding-block: 24px;
        text-align: center;

    }

    .address {
        margin-top: 32px;
        display: flex;
        justify-content: space-around;

        @include m.tab {
            flex-direction: column;
            align-items: center;
        }
    }

    .co_name {
        font-size: 24px;
        padding-bottom: 24px;
    }

    p {
        padding-bottom: 20px;
    }

    .map_japan {
        @include m.tab {
            padding-bottom: 80px;
        }
    }

    .map_china {
        padding-top: 112px;

        @include m.tab {
            padding-top: 0px;
            padding-bottom: 48px;
        }
    }

    .btn {
        margin: 0 auto;
    }
}

/* footer */
footer {
    background: linear-gradient(0deg, #BA4A00, #E5896A);
    padding-inline: 3%;
    padding-top: 56px;
    padding-bottom: 8px;
    @include m.tab {
        padding-top: 40px;
    }

    .footer_line {
        padding-bottom: 1px;
        /* テキストと下線の間隔 */
        background-image: linear-gradient(#FAF6F0, #FAF6F0);
        background-repeat: no-repeat;
        background-position: bottom right;
        /* 下線の初期位置 */
        background-size: 0 1px;
        /* 下線のサイズ（横幅、高さ） */
        transition: background-size 0.3s;

        &:hover {
            background-position: bottom left;
            /* 下線のホバー時位置 */
            background-size: 100% 1px;
            /* 下線の横幅を100%にする */
        }
        
    }

    .logo {
        width: 100px;
    }

    img {
        width: 100%;
    }

    .name {
        font-family: "Kaisei Opti", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: #FAF6F0;

        @include m.tab {
            padding-bottom: 16px;
        }
    }

    .footer_flex {
        display: flex;
        justify-content: space-between;
    }

    .flex_left {
        width: 30%;
        display: flex;
        justify-content: space-around;

        @include m.tab {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    .flex_right {
        width: 50%;
        display: flex;
        justify-content: space-around;

        @include m.tab {
            flex-direction: column;
        }
        li {
            @include m.tab {
                padding-bottom: 5px;
            }
        }

    }

    p {
        color: #FAF6F0;
        font-size: 12px;
        text-align: center;
        padding-top: 24px;
    }

    .insta {
        width: 30px;
    }

    img {
        width: 100%;
    }
}